{% extends 'base.html' %}
{% block content %}

<script>
    function showToggle() {
        $(this).collapse('toggle')
    }
    $(document).ready(function(){       
        $(".collapse").on('show.bs.collapse', function(){ //When viewing the content of collapse, down becomes an up
        	$(this).prev(".card-header").find(".icon-switch").removeClass("fa-chevron-down").addClass("fa-chevron-up");
        }).on('hide.bs.collapse', function(){ //When hiding the content of collapse, up switches back to a down
        	$(this).prev(".card-header").find(".icon-switch").removeClass("fa-chevron-up").addClass("fa-chevron-down");
        });
    });
</script>

<div class="cv">
    <div class="card border-0 shadow my-3">
        <div class="card-body p-5">
            <h1 style="text-align: center;">William Matson</h1>
            <hr>
            <h3 class="section-header">Summary</h3>
            <hr>
            <div id="skill-section">
                <h3 class="section-header">Skills</h3>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'skill_new' %}" id="new-skill">New Skill</span></a>
                {% endif %}
                <div class="skill-container" id="tech-skill-table">
                    <div class="skill-item skill-heading"><h3>Technical Skills</h3></div>
                    {% for item in tech_skills %}
                    <div class="skill-item">{{item.title}} {% if user.is_authenticated %}<a class="fa icon-switch fa-trash delete_btn" href="{% url 'skill_remove' pk=item.pk %}"></a>{% endif %}</div>
                    {% endfor %}
                </div>
                <br>
                <div class="skill-container" id="other-skill-table">
                    <div class="skill-item skill-heading"><h3>Other Skills</h3></div>
                    {% for item in other_skills %}
                    <div class="skill-item">{{item.title}} {% if user.is_authenticated %}<a class="fa icon-switch fa-trash delete_btn" href="{% url 'skill_remove' pk=item.pk %}"></a>{% endif %}</div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div id="education-section">
                <h3 class="section-header">Education</h3>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'education_new' %}" id="new-education">New Education</span></a>
                {% endif %}
                {% for item in education %}
                    <div class="card">
                        <div class="card-header collapse-head collapsed" data-toggle="collapse" data-target="#collapseEducation{{item.pk}}" aria-expanded="false" aria-controls="collapseEducation{{item.pk}}" onclick="showToggle()" >
                            <h2 class="mb-0" style="font-size: x-large; color: darkred;">
                                <i class="fa icon-switch fa-chevron-down"></i> {{item.title}}
                            </h2>
                            <p>{{item.location}} ({{item.start_date}} - {{item.end_date}}) <br> {{item.brief_text}}</p>
                        </div>
                        <div id="collapseEducation{{item.pk}}" class="collapse">
                            <div class="card-body">
                                {{item.detailed_text|linebreaksbr}}
                                <br>
                                {% if user.is_authenticated %}
                                    <a class="btn btn-outline-dark delete_btn" href="{% url 'education_remove' pk=item.pk %}">Delete</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div id="experience-section">
                <h3 class="section-header">Experience</h3>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'experience_new' %}" id="new-experience">New Experience</span></a>
                {% endif %}
                {% for item in experience %}
                    <div class="card">
                        <div class="card-header collapse-head collapsed" data-toggle="collapse" data-target="#collapseExperience{{item.pk}}" aria-expanded="false" aria-controls="collapseExperience{{item.pk}}" onclick="showToggle()" >
                            <h2 class="mb-0" style="font-size: x-large; color: darkred;">
                                <i class="fa icon-switch fa-chevron-down"></i> {{item.title}}
                            </h2>
                            <p>{{item.subtitle}} ({{item.date}})</p>
                        </div>
                        <div id="collapseExperience{{item.pk}}" class="collapse">
                            <div class="card-body">
                                {{item.text|linebreaksbr}}
                                <br>
                                {% if user.is_authenticated %}
                                    <a class="btn btn-outline-dark delete_btn" href="{% url 'experience_remove' pk=item.pk %}">Delete</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div id="skill-section">
                <h3 class="section-header">Interests</h3>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'interest_new' %}" id="new-interest">New Skill</span></a>
                {% endif %}
                <div class="interest-container" id="interest-table">
                    <div class="interest-item skill-heading"><h3>Technical Skills</h3></div>
                    {% for item in interests %}
                    <div class="interest-item">{{item.title}} {% if user.is_authenticated %}<a class="fa icon-switch fa-trash delete_btn" href="{% url 'skill_remove' pk=item.pk %}"></a>{% endif %}</div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</div>
    
    {% endblock %}        