{% extends 'base.html' %}
{% block content %}

<div class="home">
    <div class="card border-0 shadow my-3">
        <div class="card-body p-5">
            <h1 style="text-align: center;">William Matson</h1>
            <hr>
            <h3 class="section-header">Summary</h3>
            <hr>
            <h3 class="section-header">Skills</h3>
            <hr>
            <h3 class="section-header">Education</h3>
            <hr>
            <h3 class="section-header">Experience</h3>
            <hr>
            <h3 class="section-header">Interests</h3>
        </div>
    </div>
</div>
    
    {% endblock %}